.cuaca .time {
  font-weight: bold;
  font-size: 24px;
}

.cuaca .location {
  font-weight: bold;
  font-size: 20px;
}

.cuaca .weather-img {
  margin: 0 auto;
  width: 100px !important;
}

.cuaca .temp {
  margin: -5px 0 5px 0;
  font-size: 24px;
  font-weight: bold;
}

.wi {
  font-size: 22px;
  margin-right: 3px;
  position: relative;
  top: 3px;
}

.wi-direction-down {
  margin-left: 17px;
  color: #3bb5ff;
}

.wi-direction-up {
  color: orange;
}

.wi-raindrop {
  margin-left: 17px;
  color: #9cd1ff;
}

.wi-strong-wind {
  color: #FFCE4A;
}

.wi-wind, .wi-refresh {
  color: #FFCE4A;
}

.fa-map-pin {
  color: brown;
}